@font-face {
    font-family: 'Night';
    src: url("../assets/fonts/NightsideDemoRegular.ttf") format('truetype');
}


:root {
    --fundo-principal: #080A0B;
    --Sombra: #2e2e2e;
    --Azul-esverdeado: #7aa7a4;
    --azul-escverdeado-obscuro: #658a87;
    --Cinza-metálico: #5a5a5a;
    --Detalhe-ósseo: #b0a391;
    --Roxo-escuro: #4b2a58;
    --texto: #f0f0f0;
    --luz: #0e2d30;
    --verde: #3DB3A2;
}

/* Para navegadores baseados em WebKit (Chrome, Edge, Safari) */
::-webkit-scrollbar {
    width: 10px;
    /* Define a largura da barra de rolagem */
    background-color: var(--Cinza-metálico);
}

::-webkit-scrollbar-track {

    border-radius: 10px;
    /* Cantos arredondados da trilha */
}

::-webkit-scrollbar-thumb {
    background: var(--azul-escverdeado-obscuro);
    /* Cor do botão de rolagem */
    border-radius: 20px;
    /* Cantos arredondados */
}

*::selection {
    background-color: #000000;
    color: white;
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

a {
    all: unset;
    cursor: pointer;
}

body {
    background-color: var(--fundo-principal);
    color: white;
    overflow-x: hidden;
    overflow-y: hidden;
    width: 100%;
    height: 100%;


}

.body_after {
    overflow-y: visible;
    overflow-x: hidden;
}


#pagina_mongrel {
    background: url("../assets/img/fundo.png");
    min-height: 100dvh;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    color: white;
    backdrop-filter: blur(8px);
    z-index: 100;
}

.carregamento_pagina {
    position: absolute;
    max-width: 100vw;
    min-height: 100dvh;
    top: 0;
    z-index: 30;
    animation: carregaento 2s ease;

}

@keyframes carregaento {
    0% {
        background: radial-gradient(circle, rgba(255, 255, 255, 0) 0.1%, black 5%, rgb(0, 0, 0) 100%);
    }

    50% {
        background: radial-gradient(circle, rgba(255, 255, 255, 0) 0.1%, black 5%, rgb(0, 0, 0) 100%);
        transform: scale(4.0);
    }

    100% {
        background: radial-gradient(circle, rgba(255, 255, 255, 0) 0.1%, black 5%, rgb(0, 0, 0) 100%);
        transform: scale(400.0);
    }

}

#pagina_mongrel .header-container {
    display: flex;
    justify-content: center;
    position: relative;
    flex-wrap: wrap;
}

#pagina_mongrel .column-1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    min-width: 60%;
    font-size: 1.4rem;
    gap: 2.4rem;
    height: 100dvh;
    position: relative;
    transition: 1s ease;
}

#pagina_mongrel .column-2 {
    min-width: 40%;
    transition: 1s ease;

}

#pagina_mongrel .mongrel {
    height: 129vh;
    background: url("../assets/img/mongrel.png");
    background-size: cover;
    position: relative;
    bottom: 13.7vh;
    transition: 2s ease-in-out;
}

#pagina_mongrel .mongrel:hover {
    height: 129vh;

    position: relative;
    bottom: 13.7vh;
    background: url("../assets/img/sunny.png");
    background-size: cover;
}

#pagina_mongrel .moving-head {
    animation: headMove 20s infinite cubic-bezier(0.455, 0.03, 0.515, 0.955);
}

@keyframes headMove {
    0% {
        transform: rotate(0deg);
    }

    25% {
        transform: rotate(3deg);
    }

    50% {
        transform: rotate(-3deg);
    }

    75% {
        transform: rotate(3deg);
    }

    100% {
        transform: rotate(0deg);
    }
}

#pagina_mongrel .titulo {
    font-size: 5vw;
    font-family: 'Night';
    transition: 1s ease;

}


#pagina_mongrel #saber_mais {
    font-size: 2rem;
    text-transform: uppercase;
    background-color: rgba(56, 126, 126, 0);
    color: rgb(255, 255, 255);
    padding: 3vh 15vw;
    border: solid 4px white;
    border-image-slice: 1;
    border-width: 1px;
    border-left: none;
    border-right: none;
    border-image-source: linear-gradient(270deg, hsla(0, 0%, 100%, 0), #fff, hsla(0, 0%, 100%, 0));
    ;
    transition: 1s ease;

}

#pagina_mongrel #saber_mais:hover {
    padding: 3vh 18vw;
    border-width: 2.2px;
}



#pagina_mongrel #logo_letra {
    font-size: 5vw;
    font-family: 'Night';
    transition: 1s ease;

}



#pagina_mongrel #sombras {
    color: var(--azul-escverdeado-obscuro);
}

#pagina_mongrel #texto_sombras {
    font-size: 2.5rem;
    transition: 1s ease;

}

#pagina_mongrel #icone_inicial {
    min-width: 4vh;
    position: absolute;
    right: 2vw;
    top: 2vh;
    z-index: 3;
}

.logo_normal {
    font-size: 3vw;
    font-family: 'Night';
    position: absolute;
    z-index: 20;
    top: 1vw;
    left: 2vw;
    color: #fafafa98;
    display: none;
}

.logo_animacao {
    display: block;
    animation: logo_encima 4s ease;

}

@keyframes logo_encima {
    from {
        top: 25vh;
        left: 13vw;
        font-size: 5vw;
        color: white;

    }
}

section {
    min-height: 90vh;
    max-width: 100dvw;

}

.nav {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    font-size: 1rem;
    position: fixed;
    z-index: 30;
    min-width: 100dvw;
    height: 10vh;
    color: white;
    gap: 1vw;
    padding-right: 1vw;
    animation: slideDown 1.8s ease;

}

@keyframes slideDown {
    0% {
        opacity: 0;
        transform: translateY(-60px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.nav a::after {
    content: "";
    display: block;
    width: 30%;
    width: 20px;
    height: 0.7vh;
    background-color: var(--verde);
    border-bottom-left-radius: 2px;
    border-top-left-radius: 2px;
    transition: 0.5s ease-in-out;

}

.nav a:hover {
    font-weight: 800;
}

.nav a:hover::after {
    width: 100%;
    border-radius: 2px;
}

#nav_oculta {
    display: none;
}

.scrolled {
    backdrop-filter: blur(8px);
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.212);
    visibility: visible;
}

.escondido {
    visibility: hidden;
}

#icone_musica {
    height: 4vh;
}

#icone_musica:hover {
    transform: scale(1.2);
}

#inicio {
    min-height: 112dvh;
    max-width: 100%;
    background: linear-gradient(to top, #000000 10%, #00000000 24%, #00000000 100%),
        linear-gradient(to right, #000000 -40%, #00000046 50%, #00000000 55%);
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    z-index: 2;
}

.imagem_fundo {
    position: absolute;
    top: 0;
    min-height: 100vh;
    min-width: 100%;
    background: linear-gradient(to bottom, #000000 4%, #000000c9 15%, #00000000 40%), url("../assets/img/fundo\ _principal_inicio.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    z-index: -1;
    transition: opacity 1s ease-in-out;
    opacity: 1;

}

#inicio .conteudo {
    height: 65vh;
    max-width: 50vw;
    padding: 10vh 3vw;
    font-size: 4rem;
    display: flex;
    flex-direction: column;
    gap: 7vh;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.vermelho {
    color: #b12828d8;
}

#inicio #texto {
    font-size: 1.3rem;
    font-family: Arial, Helvetica, sans-serif;
}

#inicio_titulo {
    user-select: none;
}

.flecha {
    align-self: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1vh;
    font-size: 1.6rem;

}

#flecha {
    width: 4vw;
    animation: moverFlecha 2s infinite;
}

@keyframes moverFlecha {
    0% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(10px);
    }

    100% {
        transform: translateY(0);
    }
}


#sobre {
    background: radial-gradient(circle, rgba(0, 0, 0, 0.801) 10%, rgba(0, 0, 0, 0.973) 55%, rgb(0, 0, 0) 100%), linear-gradient(to top, rgb(0, 0, 0), rgba(0, 0, 0, 0)), url("../assets/img/imagem_sobre.png");
    display: flex;
    justify-content: center;
    padding: 0vh 2vw;
    padding-top: 10vh;
    gap: 5vw;
    min-height: 95dvh;
    flex-wrap: wrap;
    width: 100%;
    position: relative;
}

.esquerda {
    max-width: 40vw;
}

.esquerda p {
    font-size: 1.4rem;
    text-align: justify;
}

.esquerda h2 {
    font-size: 2.5rem;
    padding-bottom: 7vh;
}

.linha {
    height: 2px;
    width: 100%;
    background-color: #3DB3A2;
}

.tabela {
    padding: 2vh 3vw;
}


.tabela .caxa_menor {
    display: flex;
}

.tabela .caxa_menor div div {
    border: solid 1px #3DB3A2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 100%;
    min-height: 50%;
}

.verde {
    color: #3DB3A2;
}

.tabela .titulo {
    text-transform: uppercase;
    font-size: 1.5rem;
    text-align: center;
    letter-spacing: 2px;
}

.caixa_maior {
    border: solid 1px #3DB3A2;
    border-top: solid 1px rgba(0, 0, 255, 0);
    padding: 3%;
}

.caxa_menor p {
    text-align: center;
}

.direita {
    display: flex;
    flex-direction: column;
}

.direita .conteudo {
    padding-top: 16vh;
    display: flex;
    align-items: center;
    gap: 3vw;
}

.seguinte img {
    transform: scaleX(-1);
}

.direita .imagens {
    display: flex;
    position: relative;
}

.primeira {
    order: 1;
    z-index: 4;
    border: solid 1px #3DB3A2;
    width: 20vw;
    height: auto;

}

.segunda {
    order: 2;
    position: absolute;
    left: 3vw;
    z-index: 3;
    border: solid 1px #3DB3A2;
    width: 20vw;
    transform: scale(0.9);
    height: auto;
}

.terceiro {
    order: 3;
    position: absolute;
    border: solid 1px #3DB3A2;
    z-index: 2;
    width: 20vw;
    left: 6vw;
    transform: scale(0.8);
    height: auto;

}

.quarto {
    order: 4;
    position: absolute;
    border: solid 1px #3DB3A2;
    z-index: 1;
    width: 20vw;
    left: 9vw;
    transform: scale(0.7);
    height: auto;


}


.caixinhas {
    margin-top: 6vh;
    height: 2vh;
    display: flex;
    justify-content: center;
    gap: 3vw;

}

.caixinhas div {
    height: 2vh;
    width: 2vh;
    border: solid 1px white;
    border-radius: 10rem;

}



.seguinte {
    padding-left: 6vw;
}

.voltar img:hover {
    transform: scale(1.2);
}

.seguinte img:hover {
    transform: scale(1.2) scaleX(-1);
}

#historia {
    height: auto;
    /* background-color: #080A0B;*/
    background: linear-gradient(to top, #000000 10%, #00000000 24%, #00000071 200%), linear-gradient(to bottom, #000000 10%, #00000000 24%, #00000000 100%)
}

#historia .titulo_prin {
    font-size: 2rem;
    text-align: center;
    padding: 6vh;
    padding-top: 11vh;
}

#historia .container {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #0e2d3000;
    min-height: 60vh;
}

#historia .column-2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 10vw;
}

#historia .column-2 div {
    width: 1vw;
    height: 1vw;
    background-color: #00000000;
    border: solid 1px #3DB3A2;
    border-radius: 50px;
}

#historia .column-2 .line {
    width: 5px;
    min-height: 58vh;
    background-color: #3DB3A2;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#historia .column-2 .line div {
    background-color: #3DB3A2;
}

#historia .column-3,
.column-1 {
    width: 40vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 50vh;
    gap: 15vh;
}

#historia h2 {
    text-transform: uppercase;
    font-size: 2rem;
    color: #3DB3A2;
}

#historia h2::before {
    content: '';
    background-color: #3DB3A2;
    display: block;
    width: 30%;
    height: 9%;
}

#historia h2::after {
    content: '';
    background-color: #3DB3A2;
    display: block;
    justify-self: flex-end;
    width: 30%;
    height: 9%;
}

#historia img {
    padding: 1%;
    border: outset 2px #3db3a1be;
    box-shadow: inset 5px 10px 15px #16423cb7;
    width: 90%;
}

#historia p {
    font-size: 1.5rem;
}



#personagens {
    padding: 10vh 2vw;
    background: linear-gradient(to bottom, #000000b0 1%, #00000000 100%);
    min-height: 110vh;
    max-width: 100vw;
}

#personagens h1 {
    padding-bottom: 2vh;
    font-size: 2rem;
    letter-spacing: 7px;
    color: #3db3a1;
}

.nav-personagem {
    display: flex;
    justify-content: space-between;
}

.nav-personagem div {
    display: flex;
    gap: 1vw;
}

.nav-personagem p {
    list-style: none;
    padding: 0vh 2vw;
    padding-bottom: 5px;
    border-bottom: solid 1px #ffffff;
    cursor: pointer;
}

.nav-personagem p:hover {
    border-bottom: solid 2px #3db3a1;
    font-weight: 800;
    color: #3db3a1;
}

.nav-personagem .atual {
    border-bottom: solid 2px #3db3a1;
    font-weight: 800;
    color: #3db3a1;
}

#personagens .container {
    background: radial-gradient(circle, rgba(51, 49, 49, 0.151) 0%, rgb(0, 0, 0) 55%, rgb(0, 0, 0) 100%), url("../assets/img/baixados.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    min-height: 78dvh;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0;
}

#personagens .conteudo .column-1 {
    width: 40%;

    padding: 3vh 2vw;
    display: flex;
    flex-direction: column;
    gap: 10vh;
    animation: fade-esquerda 2s ease-out;
}

.conteudo {
    display: flex;
    position: relative;
    min-height: 56vh;
}

#personagens .conteudo .column-2 {
    width: 30%;
    min-height: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    position: relative;

}

#personagens .conteudo .column-3 {
    width: 30%;
    padding: 3vh 2vw;
    display: flex;
    flex-direction: column;
    gap: 10vh;
    animation: fade-direita 2s ease-out;

}

#sunny {
    max-height: 90vh;
}

#personagens .conteudo .column-2 img {
    position: absolute;
    bottom: 0;
}

#personagens h2 {
    font-size: 4rem;
    letter-spacing: 1.2rem;
}

.nome_real {
    display: flex;
    width: 100%;
    justify-content: space-between;
    padding: 6vh;
    animation: fade-up 2s ease-out;
    position: relative;
}

.nome_real h2 {
    user-select: none;
}

.nome_real .esquerda {
    width: 50%;
    z-index: 2;
}

.nome_real .direita {
    width: 50%;
    text-align: center;
}

#personagens p {
    font-size: 1.5rem;
}

#personagens span {
    font-size: 1.7rem;
    font-weight: 800;
}

.aba-sunny span {
    color: #3db3a1;
}

.aba-sunny {
    box-shadow: 10px 10px 10px 0px #3db3a156;
}

#nephis {
    height: 100vh;
}

.aba-nephis span {
    color: #bd2c00;
}

.aba-nephis .nome_real {
    color: #bd2c00;
}

.aba-nephis .direita {
    z-index: 0;
    padding-left: 7vw;
}

.aba-nephis {
    box-shadow: 10px 10px 10px 0px rgba(255, 3, 3, 0.39);
}

.aba-cassie {
    box-shadow: 10px 10px 10px 0px #4b2a58;
}

#cassie {
    height: 100vh;
}


.aba-cassie span {
    color: #954eb1;
}

.aba-cassie .nome_real {
    color: #954eb1;
}

.aba-cassie .esquerda {
    padding: 0;
    text-align: center;
}

.aba-effie {
    box-shadow: 10px 10px 10px 0px #c5852491;

}

#effie {
    height: 90vh;
}

.aba-effie span {

    color: #c58524;

}

.aba-effie .nome_real {
    color: #c58524;

}

.aba-effie .esquerda {
    padding-left: 3vw;
}

.aba-effie .direita {
    padding-left: 7vw;
}

.aba-kai {
    box-shadow: 10px 10px 10px 0px #63ac2783;
}

#kai {
    height: 90vh;
}

.aba-kai span {
    color: #63ac27;
}

.aba-kai .nome_real {
    color: #63ac27;

}

.aba-kai .esquerda {
    padding: 0;
    z-index: 0;
}

.aba-jet {
    box-shadow: 10px 10px 10px 0px #111377be;

}

#jet {
    height: 90vh;
}


.aba-jet span {
    color: #181ab1;
}

.aba-jet .nome_real {
    color: #111377;
}

.aba-jet .esquerda {
    text-align: center;
}

.aba-modret {
    box-shadow: 10px 10px 10px 0px #94949473;
}

#modret {
    height: 90vh;
}

.aba-modret span {
    color: #949494;
}

.aba-modret .nome_real {
    color: #949494;
}

.aba-modret .esquerda {
    text-align: center;
}

.aba-modret .direita {
    padding-left: 10vw;
}

.fade-direita {
    animation: fade-direita 2s ease-out;
}

@keyframes fade-direita {
    from {
        transform: translateX(60%);
        opacity: 0
    }
}

@keyframes fade-esquerda {
    from {
        transform: translateX(-60%);
        opacity: 0
    }
}

@keyframes fade-up {
    from {
        transform: translateY(30%);
        opacity: 0;
        z-index: 2;
    }

    to {
        z-index: 2;
    }
}














#mapa {
    min-height: 100vh;

}

#mapa h1 {
    text-align: center;
    font-size: 3rem;
    padding-bottom: 1vh;
    padding-top: 10vh;
}

#mapa .container {
    display: flex;
    justify-content: center;
    width: 100%;
    gap: 2vw;
}

.imagem_mapa {
    background: url("../assets/img/mapa_obsc.png");
    background-repeat: no-repeat;
    background-position: center;
    height: 39vw;
    background-size: cover;
    width: 200vw;
    display: flex;
    flex-direction: column;
    justify-self: center;

}

.mapa_cima {
    display: flex;
    height: 32%;
    width: 100%;
}

.forgotten {
    height: 100%;
    width: 48%;
}

.informacoes-mapa {
    display: flex;
    flex-direction: column;
    padding: 0vh 1vw;
    width: 150%;
    justify-content: flex-start;
    gap: 2%;
    align-items: center;
    margin-right: 1vw;
    padding-top: 1vw;
    background-repeat: no-repeat;
    background-size: contain;
    box-shadow: 1px 1px 1px 8px rgba(35, 35, 35, 0.114);

}

.titulo_lugar {
    text-align: center;
    font-size: 2.4rem;
    color: white;
    text-transform: uppercase;
    width: 90%;
}

.informacoes-mapa img {
    transform: rotate(-1deg);
    width: 90%;
    border-radius: 20px;
}

.informacoes-mapa p {
    width: 90%;
    color: white;
    font-size: 1.4rem;
    text-align: justify;
}












#jogo {
    min-height: 30vh;

}




#jogo .container {
    display: flex;
    gap: 7vw;
    padding: 1% 0%;
}

#jogo h1 {
    text-align: center;
    font-size: 3rem;
    padding-bottom: 5vh;
    padding-top: 10vh;
}

#jogo .column-1 {
    padding-left: 20vh;
    gap: 10%;
}

#jogo h2 {
    font-size: 2.5rem;
}

.jogo1 {
    z-index: 5;
    border: solid 1px #3DB3A2;
    width: 35vw;
    height: auto;
}

.jogo2 {
    position: absolute;
    z-index: 4;
    border: solid 1px #3DB3A2;
    width: 40vw;
    height: 40vh;

}
#jogo .seguinte{
    padding: 0;
}


#jogo p {
    font-size: 1.7rem;
}

#jogo .column-2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.content {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3.4vw;
}


#jogo a p {
    display: flex;
    justify-content: center;
    padding: 1vh 2vw;
    width: 30vw;
    border: solid 4px white;
    border-image-slice: 1;
    border-width: 1px;
    border-left: none;
    border-right: none;
    border-image-source: linear-gradient(270deg, hsla(0, 0%, 100%, 0), #fff, hsla(136, 41%, 53%, 0));
    ;
}

#jogo a p:hover {
    border-width: 2.4px;
    width: 40vw;
}


#jogo .caixinhas {
    display: flex;
    gap: 1vw;
}

#jogo_atual_c {
    background-color: white;
}




#desenvolvedor {
    min-height: 98vh;
}

#desenvolvedor h1 {
    font-size: 2.5rem;
    text-align: center;
    padding-top: 10vh;
}

#desenvolvedor .container {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: flex-end;
    gap: 7vw;
    min-height: 81vh;
}

#eu {
    width: 41%;

}

.sobre_mim {
    width: 51%;
}


.sobre_mim h4 {
    text-transform: uppercase;
    font-size: 1.4rem;
}

#desenvolvedor .sobre_mim h1 {
    padding-top: 2vh;
    text-transform: uppercase;
    text-align: left;
    padding-bottom: 3vh;
    word-spacing: 0.4rem;
    font-size: 3rem;
}

.sobre_mim p {
    font-size: 1.2rem;
    padding-bottom: 2vh;
}

.tecnologias {
    height: 8vh;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2vw;
    border: solid 1px #f5f5f586;
    border-radius: 10px;
    width: 98%;
    justify-self: center;
    box-shadow: inset -4px -4px 7px 2px rgba(29, 118, 134, 0.568);
    border-left: none;
    margin-bottom: 4vh;
    position: relative;

}

.tecnologias div img {
    width: 40px;
    display: inline-block;


}

.tecnologias div {
    display: flex;
    gap: 2vw;
    animation: desliçamento 2.3s linear infinite alternate;

}


@keyframes desliçamento {
    0% {
        transform: translateX(30%);

    }

    5% {
        transform: translateX(29%);
    }

    6% {
        transform: translateX(29%);
    }

    7% {
        transform: translateX(29%);
    }

    100% {
        transform: translateX(-30%)
    }

}



















/*----------------------------fotter------------------*/
footer {
    background-color: #000000;
    display: flex;
    justify-content: space-around;
    min-height: 30vh;
    z-index: 10;
    max-width: 100%;
    flex-wrap: wrap;

}

#logotipo-footer {
    max-width: 20vh;
    padding-top: 4vh;
}

footer .list {
    display: flex;
    font-size: 3vh;
    position: relative;
    top: 6vh;
    gap: 5vh;
}

footer .list div {
    display: flex;
    flex-direction: column;
    gap: 1vh;
}

#f-info {
    text-align: center;
    font-size: 3vh;
    position: relative;
    top: 4.5vh;

}

.projeto {
    width: 35vh;
    text-align: justify;
    font-size: 3vh;
    position: relative;
    top: 4.5vh;

}

.contatos {
    font-size: 2.5vh;
    position: relative;
    top: 4.5vh;
}

.contato a {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 2vh;

}

#email_imagem {
    background: url("../assets/img/github.png");
    background-size: cover;
    min-height: 4vh;
    min-width: 4vh;
}

#github_imagem {
    background: url("../assets/img/github.png");
    background-size: cover;
    min-height: 4vh;
    min-width: 4vh;
}

#linkediin_imagem {
    background: url("../assets/img/Vector.png");
    background-size: cover;
    min-height: 4vh;
    min-width: 4vh;
}

#numero_imagem {
    background: url("../assets/img/logo-whatsapp.png");
    background-size: cover;
    min-height: 4vh;
    min-width: 4vh;
}

#instagram_imagem {
    background: url("../assets/img/logo-instagram.png");
    background-size: cover;
    min-height: 4vh;
    min-width: 4vh;
}

.verde:hover {
    color: var(--azul-escverdeado-obscuro);
}

.verde:hover #email_imagem {
    background: url("../assets/img/logo-instagram_verde.png") no-repeat;
    background-size: cover;
}

.verde:hover #github_imagem {
    background: url("../assets/img/github_verder.png") no-repeat;
    background-size: cover;

}

.verde:hover #linkediin_imagem {
    background: url("../assets/img/Vector_verde.png") no-repeat;
    background-size: cover;

}

.verde:hover #numero_imagem {
    background: url("../assets/img/logo-whatsapp_verde.png") no-repeat;
    background-size: cover;

}

.verde:hover #instagram_imagem {
    background: url("../assets/img/logo-instagram_verde.png") no-repeat;
    background-size: cover;

}

/*----------------------------fotter----------acaba--------*/

h1,
h2,
h3,
img {
    user-select: none;
}

.menu_hamburger {
    position: fixed;
    display: flex;
    flex-direction: column;
    gap: 1vh;
    display: none;
    justify-content: center;
    align-items: flex-end;
    padding: 0vh 3vw;
}

.barra_hamburger {
    width: 40px;
    height: 5px;
    background-color: white;
    border-radius: 4px;
    transition: 1s ease;
}
.inativo{
    display: none;
}