@font-face {
    font-family: 'Night';
    src: url("../assets/fonts/NightsideDemoRegular.ttf") format('truetype');
  }
  

:root{
    --fundo-principal: #1a1a1a;
    --Sombra: #2e2e2e;
    --Azul-esverdeado: #7aa7a4;
    --azul-escverdeado-obscuro: #658a87;
    --Cinza-metálico: #5a5a5a;
    --Detalhe-ósseo: #b0a391;
    --Roxo-escuro: #4b2a58;
    --texto: #f0f0f0;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a{
    all: unset;
    cursor: pointer;
}
#home{
    background: url("../assets/img/fundo.png");
    height: 100vh;
    background-size: cover;
    background-position: center;
    color: white;
    backdrop-filter: blur(8px);
}
.nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 1.2rem;
    padding-top: 10px;
    backdrop-filter: blur(8px);
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.212);
    position: fixed;
    z-index: 2;
    width: 100%;
    color: white;
}
.nav-list1{
    display: flex;
    gap: 10%;
    width: 45%;
}
.nav-list2{
    display: flex;
    gap: 4%;
    width: 15%;
    margin-bottom: 1%;
}
.nav-list1 p:hover{
    font-weight: 800;
    padding-bottom: 10px;
    border-bottom: solid 4px var(--Azul-esverdeado);
}
#cadastro{
    border: solid 2px var(--Azul-esverdeado);
    border-radius: 20px;
    padding: 0.5rem 1rem;
}
#cadastro:hover{
    background-color: var(--Azul-esverdeado);
    color: rgb(255, 255, 255);
    
}
#entrar{
    border: solid 2px var(--Azul-esverdeado);
    background-color: var(--Azul-esverdeado);
    color: rgb(255, 255, 255);
    border-radius: 20px;
    padding: 0.5rem 1rem;
}
#entrar:hover{
    background-color: var(--azul-escverdeado-obscuro);
}
.header-container {
    display: flex;
    justify-content: center;
    position: relative;
}
#home .column-1{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 50%;
    font-size: 1.4rem;
    gap: 2.4rem;
}
#home .column-2{
    width: 44%;
}
.mongrel{
    min-height: 100vh;
    background :url("../assets/img/mongrel.png");
    background-size: cover;
}
.mongrel:hover{
    min-height: 100vh;
    background :url("../assets/img/sunny.png");
    background-size: cover;
}
#home .titulo{
    padding-top: 2.9rem;
    font-size: 3rem;
    font-family: 'Night';
}
#home #pontos{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
#saber_mais{
    background-color: rgb(56, 126, 126);
    color: rgb(255, 255, 255);
    padding: 0.5rem 1.4rem;
    border-radius: 10rem;
}
#saber_mais:hover{
    background-color: black;
    color: white;
    border: solid 2px white;
}
#seta{
    margin-top: 30%;
    margin-left: 150%;
}
#sombras{
    color: var(--azul-escverdeado-obscuro);
}













/*LOGIN E CADASTRO COMEÇA----------------------------------------------------------------------------------*/
.container-login{
    background: url("../assets/img/Shadow-Slave-Manhwa-Capa.png");
    color: white;
    min-height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    
}
.card-login{
    background-color: rgba(9, 31, 53, 0.678);
    padding: 1% 3%;
    border-radius: 2rem;
    display: flex;
    flex-direction: column;
    gap: 1vh;    
    position: relative;
    left: 4rem;
    box-shadow: 0 10px 50px #7aa7a4;
    backdrop-filter: blur(6px);

}
.card-login input{
    width: 60vh;
    padding: 2% 5%;
    font-size: 1.3rem;
    background: none;
    border:  none;
    outline: none;
    color: var(--Azul-esverdeado);
    border-radius: 2rem;
    border-bottom: solid 4px var(--Cinza-metálico);
} 
.card-login ::placeholder{
    color: #bebebe;
}
.card-login p{
    font-size: 1.4rem;
}
.card-login #titulo{
    text-align: center;
    font-size: 2rem;
    font-weight: bolder;
}
.card-login #subtitulo{
    text-align: right;
    padding: 6% 0%;
}
.card-login button{
    background-color: var(--Azul-esverdeado);
    font-size: 1.3rem;
    color: white;
    padding: 2%;
    border-radius: 2rem;
    margin-top: 4%;
}
#texto_nome_usuario , #texto_senha , #texto_email , #texto_conf_senha{
    color: #1a1a1a00;
}
.card-login a{
    text-decoration: underline;
    color: var(--Azul-esverdeado);
}
/*LOGIN E CADASTRO ACABA----------------------------------------------------------------------------------*/